.form-control {
  width: 100% !important;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-right: 1vw;
}

.control-error {
  border: 1px solid #f20000 !important;
}

.error-message {
  color: #ec392f;
  margin-bottom: 1%;
}

#add-mp {
  margin-left: 1vw;
  background-color: #28a745;
  border-color: #28a745;
}

#upd-mp {
  margin-left: 1vw;
  background-color: #28a745;
  border-color: #28a745;
}

.medplan-form-container {
  background-color: gray;
  height: 80vh;
}

.companyForm {
  width: 65vw;
  margin-left: auto;
}

.cformLabel {
  margin-left: 1wv;
  float: left;
  width: 10vw;
}

.form-group {
  display: inline-block;
}

.form-buttons {
  width: 40vw;
  margin-bottom: auto;
}

.button {
  margin-left: 1vw;
}
